In [2]:
path_to_zip_file = "datasets-1.zip"
directory_to_extract_to = ""

import zipfile
zip_ref = zipfile.ZipFile(path_to_zip_file, 'r')
zip_ref.extractall(directory_to_extract_to)
zip_ref.close()

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
import pandas as pd
Location = "datasets/algebradata.csv"
df = pd.read_csv(Location)
df.head()

     Fname     Lname Gender Grade  Hours of Study
0     Mary  Ettienne      F     B              16
1  Charles    Looner      M     F               8
2    Betty  Franklin      F     A              24
3    Roger   Withers      M     C               5
4     John   Mulgrew      M     A               5

In [19]:
df ['Hours of Study'].mean()

15.115115115115115

In [23]:
df.groupby('Grade')['Hours of Study'].mean()

Grade
A    17.935811
B    15.893939
C    14.243655
D    14.577778
F     6.722892
Name: Hours of Study, dtype: float64