In [12]:
path_to_zip_file = "datasets-1.zip"
directory_to_extract_to = ""

import zipfile
zip_ref = zipfile.ZipFile(path_to_zip_file, 'r')
zip_ref.extractall(directory_to_extract_to)
zip_ref.close()

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
Location = "datasets/axisdata.csv"
df = pd.read_csv(Location)

df.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2

In [18]:
df['Cars Sold'].mean()

3.9229229229229228

In [19]:
df['Cars Sold'].max()

7

In [20]:
df['Cars Sold'].min()

1

In [21]:
df.groupby('Gender')['Cars Sold'].mean()

Gender
F    3.760736
M    4.078431
Name: Cars Sold, dtype: float64

In [36]:

df.groupby('Cars Sold'). filter(lambda group: group.size > 3)['Hours Worked'].mean()

33.727727727727725

In [39]:
df['Years Experience'].mean()

3.026026026026026

In [40]:
df.groupby('SalesTraining')['Cars Sold'].mean()

SalesTraining
N    3.573850
Y    4.168942
Name: Cars Sold, dtype: float64

In [41]:
df.groupby('Cars Sold') ['Hours Worked'].mean()

Cars Sold
1    24.409091
2    32.156977
3    34.159794
4    33.945545
5    33.184466
6    36.429487
7    43.440000
Name: Hours Worked, dtype: float64