In [4]:
import pandas as pd
import numpy as np
from __future__ import division

Location = "Speed Dating Data.csv"
df = pd.read_csv(Location)
df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [5]:
#dataframe filtering for matches only
df_matched = df[df['match'] == 1]
#dataframe filtering for matches who reported the same race
df_matched_samerace = df_matched[df_matched["samerace"] == 1]
#dataframe filtering for female participants who found matches
df_femalesfoundmatch = df_matched[df_matched['gender']  == 0]
#dataframe filtering for male participants who found matches
df_malesfoundmatch = df_matched[df_matched['gender']  == 1]

In [6]:
#Probability of finding a match
p_match = len(df_matched) / len(df)
p_match

0.16471711625686322

In [7]:
#Probability of matching with someone of the same race
p_match_samerace = len(df_matched_samerace) / len(df_matched)
p_match_samerace

0.4101449275362319

In [8]:
#Probability of finding a match for female particiapnts. Seems like it's the same for males
p_female_foundmatch = len(df_femalesfoundmatch) / len(df_matched)
p_female_foundmatch

0.5

In [11]:
#Average age of participants who found matches
df_matched["age"].mean()

26.077092511013216

In [12]:
#Average age of participants partners
df_matched["age_o"].mean()

26.077092511013216

In [13]:
#most matched participants were 25
df_matched["age"].mode()

0    25.0
dtype: float64

In [14]:
#most matched partnets were 25
df_matched["age_o"].mode()

0    25.0
dtype: float64